:root {
	/* COLORS */
	--light-gray: rgb(214, 214, 214);

	/* PAGE GLOBALS */
	/* background-color:var(--light-gray); */
	font-family: 'Roboto', sans-serif;
}
/* COLOR CLASSES TO CHANGE BOOTSTRAPS */
.orange {
	background-color: chocolate;
}
.rebeccaPurple {
	background-color: rebeccapurple;
}
.lightBlue {
	background-color: rgb(56, 202, 238);
}
.textShadow {
	text-shadow: 1px 1px 2px black;
}
.boxShadow {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}
.lightGreen {
	background-color: rgb(112, 199, 117);
}
.purple {
	background-color: purple;
}
.yellow {
	background-color: rgb(230, 180, 54);
}
.lightGray {
	background-color: rgb(214, 214, 214);
}
/* #root {
	min-width: 100vw;
} */

.mainContainer {
	min-height: fit-content;
}
/* NAV */
.navBar {
	/* width: 100%; */
	background-color: rgb(112, 199, 117);
}
.navLink {
	text-shadow: 1px 1px 2px black;
	font-size: 1.5rem;
}
.navTitle {
	font-size: 30px;
}
.navActive {
	background-color: rgba(150, 11, 182, 0.767);
	border-radius: 5px;
}
/* END NAV */

/* ABOUT */
.headingTitle {
	font-weight: 700;
}
.avatar {
	object-fit: cover;
	object-position: center center;
}
/* END ABOUT */

/* PROJECT */
.projectCard {
	min-height: fit-content;
}
.projectImage {
	max-height: 175px;
	object-fit: cover;
}
.more {
	height: 50px;
	width: 50px;
}
.nodeIcon {
	height: 25px;
	width: 25px;
}
.projectTitle {
	font-size: 30px;
}
/* END PROJECT */

/* CONTACT */
.contactForm {
	border: 2px solid rgb(14, 26, 14);
	border-radius: 10px;
}
.submit {
	border: none;
	border-radius: 8px;
	font-size: 20px;
}
.submit:hover {
	background-color: rgba(208, 121, 227, 0.767);
}

/* END CONTACT */
/* @media */

/* PROJECT CARD IMAGE */
@media only screen and (max-width: 863px) {
	.projectImage {
		max-height: 130px;
	}
}
